.AutoCompleteText{
    display:inline-table;
    margin-left:10px;
    width: 50%;
    border: 1px solid gray;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: inherit;
    background-color: inherit;
    border-radius: 5px 5px 5px 5px;

}

.AutoCompleteText input{
    width: 100%;
    border: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    /* color: rgba(0,0,0,0.73); */
    padding: 18.5px 14px;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    border-color: grey;
    outline: none;
}
.AutoCompleteText ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
    border-top: 1px solid gray;
}
.AutoCompleteText ul::before{
    content: "";
}

.AutoCompleteText li{
    padding: 10px 5px;
    cursor: pointer;
}

.AutoCompleteText li:hover{
    text-decoration: underline;
    background-color: lightgray;
}