.Main {
    text-align: center;
}
/* Basic */

	body {
		background: #fff;
	}

	body, input, select, textarea {
		color: #555f66;
		font-family: "Roboto", Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 300;
		/* line-height: 1.75em; */
	}

	a {
		color: #985B9C;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		color: #666f77;
		font-weight: 500;
	}

	em, i {
		font-style: italic;
	}

	p {
        font-size: 14pt;

	}

	h1, h2, h3, h4, h5, h6, h7 {
		color: #666f77;
		line-height: 1em;
		text-transform: uppercase;
		letter-spacing: 0.125em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a {
			color: inherit;
			text-decoration: none;

		}

	h2 {
		font-size: 1.5em;
		line-height: 1.5em;


	}

	h3 {
		font-size: 1.25em;
		line-height: 1.5em;


	}

	h4 {
		font-size: 1em;
		line-height: 1.5em;
        padding: 0.5em 0 0.5em 2em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

    h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

    h7 {
        font-size: 1.25em;
		line-height: 1.5em;
        color: #966602;
	}

	hr {
		border: 0;
		border-bottom: solid 1px rgba(144, 144, 144, 0.25);
		margin: 3em 0;
	}

		hr.major {
			margin: 2em 0 5em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Image */

    .image {
        border-radius: 6px;
        border: 0;
        display: inline-block;
        position: relative;
    }

        .image img {
            border-radius: 6px;
            display: block;
        }

        .image.left {
            float: left;
            padding: 0 1.5em 1em 0;
            top: 0.25em;
        }

        .image.right {
            float: right;
            padding: 0 0 1em 1.5em;
            top: 0.25em;
        }

        .image.fit {
            display: block;
            margin: 0 0 2em 0;
            width: 90%;
        }

            .image.fit img {
                display: block;
                width: 100%;
            }
/* Wrapper */

    .wrapper {
        padding: 6em 0 4em 0;
    }

        .wrapper.style1 {
            background: #fff;
            color: #555f66;
        }

        .wrapper.style2 {
            background: #192024;
            color: #c5c7c8;
        }

        .wrapper.style3 {
            background: #966602;
            color: #c5c7c8;
        }

            .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6, .wrapper.style3 h2, .wrapper.style3 h3 {
                color: #ffffff;
            }

            .wrapper.style2 header p {
                color: #a3a5a7;
            }


/* Header */

    #skel-layers-wrapper {
        padding-top: 3em;
    }

    #header {
        background: #fff;
        color: #555f66;
        cursor: default;
        height: 3em;
        left: 0;
        line-height: 3em;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000;
        box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.25);
    }

        #header h1 {
            color: #666f77;
            font-weight: 500;
            height: inherit;
            left: 1.25em;
            line-height: inherit;
            margin: 0;
            padding: 1;
            position: absolute;
            top: 0;
        }

            #header h1 a {
                font-size: 1.25em;
            }

        header.style {
            background: #fff;
            color: #555f66;
            cursor: default;
            height: 3em;
            left: 0;
            line-height: 3em;
            position: fixed;
            top: 0;
            width: 100%;

        }

/* Grid */

    .\-8u { margin-left: 66.6666666667% }
    .\-6u { margin-left: 50% }
    .\-4u { margin-left: 33.3333333333% }

    footer {
        text-align: right;
        padding: 0.5em 0 0.5em 2em;

        }
