.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paper {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    margin-top: 1px;
}

.submit {
    margin: 3px 0 2px;
}
