.Home {
    text-align: center;
}

.text_align {
  display:flex;
  justify-content: space-around;
}
.parent {
  position: relative;
  top: 0;
  left: 0px;
}
.image1 {
  position: relative;
  top: 25px;
  left: 975px;
}

