
.Profile {
    text-align: center;
    color: #555f66;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 500;
}

.Profile-Component{
    margin: 150px auto 0 auto;
    width: 600px;
}

.profile-form-container {
    position: fixed;
    margin-top: 350px;
    /*top: 35%;*/
    left: 55%;
    transform: translate(-50%, -50%);
    /* border: 2px solid red;
    border-radius: 4px; */
}

.paper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .body {
        background: #fff;
    }

    .h1 {
        text-align: center;
        color: #555f66;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 16pt;
        font-weight: 500;
    }

    .form {
        width: 100%;
        margin-top: 1px;
    }

    .p {
        text-align: center;
        color: #555f66;
        font-size: 10pt;
    }

    .ul {
        text-align: right;
        background-position: 100%;
        padding-right: 2px;
    }
