.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    margin-top: 3;
}

.submit {
    margin: 3 0 2;
}
